main{
    background: linear-gradient(-45deg, $backColor, $tertiaryColor);
}

main{
    background-size: cover;
    section{
            h1{
            font-family: Ubuntu, sans-serif;
            font-weight: bolder;
            font-size: 8rem;
            padding: 20rem;
            color: $primaryColor;
            text-shadow: $secondaryColor 7px 7px;
            &:hover{
                animation-name: titulo;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;
                animation-duration: 2s;
                }
            }
        }
    }

    .banner{
        background-image: url(/fabrica_virtual_v4/resources/Sitio_FV.1.png);
        background-repeat: no-repeat;
        background-size: auto;
        padding: 50px;
}
